body{
    background-color: grey;
}
div{
    text-align: center;
    background-color: azure;
    display: block;

    padding: 70px;
}
label{
    display: inline-block;
    width: 100px;
    margin: 20px;
    
}
h1{
    color: purple;
}
table{
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
tr, th{
    padding: 10px;
    border: 1px solid black;
    
}